.about-section {
  margin-bottom: 100px;
}
.about-section__wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 413px;
  margin-bottom: 42px;
}
.about-section__wrapper > h2 {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.about-section__wrapper > p {
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #c0c0c0;
}
.about-section__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.about-section__list > li {
  width: 576px;
  padding: 471px 45px 30px 30px;

}
.about-section__list > li > h4 {
    margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.about-section__list > li > p {
    margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}
.list-item1{
    background-image: url("/images/aboutlist1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.list-item2{
    background-image: url("/images/abutlist2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list-item3{
    background-image: url("/images/aboutlist3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.list-item4{
    background-image: url("/images/aboutlist4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}